.card-data {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.product-card {
    position: relative;
    display: flex;
    width: 900px;
    height: 600px;
    margin: 20px;
    background-color: #6eff7072;
    border-radius: 45px;
}

.product-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 45px;
    border: solid 3px rgb(0, 234, 255);
    margin-left: 55px;
}

.product-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
}

.product-title {
    color: #333;
    font-size: 18px;
    margin-bottom: 36px;
    font-size: 25px;
}

.product-link {
    text-decoration: none;
}

.product-button {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 20px;
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
}

.product-button:hover {
    background-color: #0056b3;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
